alembic==1.13.3
fastapi==0.115.2
uvicorn[standard]==0.30.6
pyscopg2-binary==2.9.10
sqlalchemy==2.0.35
pydantic==2.9.2
pydantic-settings==2.4.0
python-dotenv==1.0.1
python-multipart==0.0.9
typing-extensions==4.12.2
